@import "items-1.css";

#addr-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.box-popup {
    background-color: var(--white-color);
    padding: 20px; 
    border-radius: 10px;
    width: 80%; 
    max-width: 500px; 
    min-width: 300px; 
    height: auto; 
    text-align: left;
    margin: 0 auto; 
}

.top-form{
    display: flex;
    
    justify-content: space-between;
  }
  
  .top-form .close-popup{
    cursor: pointer;
    font-size: 20px;
  }

  .btnAddr{
    padding: 5px 12px;
    width: 90px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 10px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  /* Button Status */
  .success {
    padding: 4px 10px;
    background: #8de02c;
    border:0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .pending {
    padding: 4px 10px;
    background: #e9b10a;
    border:0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .cancel {
    padding: 4px 10px;
    background: rgb(249, 84, 84);
    border:0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
 .inProgress {
    padding: 4px 5px;
    background: #1795ce;
    border:0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }

  a{
    text-decoration: none;
    color: var(--white-color);
  }

  .btnStatus{
    color: var(--white-color);
  }

  .btncancel {
    background-color: none;
    color: var(--dark-color);
  }