@import "style.css";

*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
 
.Container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);
} 


h2{
    font-size: 18px; 
    text-align: center;
    color: var(--dark-prim-color);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--dark-prim-color);
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box label{
    width: 95%;
    color: black;
    margin: 5px 0;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0,2);
}

.button-add{
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Space between buttons */
    margin-top: 10px;
    
}

/* .button-add input{
    width: 100%;

    font-size: 16px;
    color:white;
    border: none;
    border-radius: 5px;
    background:  #94AB6F;
    cursor: pointer;
} */

.button-add button{
    margin-top:20%;
    height:fit-content;
    color:var(--white-color);
    background-color: var(--primary-color);
    border: 0;
    padding:10px 20px;
    border-radius: 8px;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.indetail{
    align-items: center;
}
