@import "SidebarUser.css";
@import "style.css";
@import "searchbar.css";
/* Test2 */

.in-content{
    margin: 5px 50px;
    
}
.grid-content{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px,250px));
}
.item .content{
    width:200px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius:8px;
    padding:5px;
    margin: 20px;
}

.content img{
    width:50px;
}
.price{
    text-align: center;
}

 .item .content .title{
    color: black;
    padding: 0 20px;
   text-align: center;

}

.nav-title {
    padding: 10px;
}

.nav-desc {
    padding: 10px 0;
}

.content {
   width: 100%;
}
.table1 tr{
    background-color: white ;
    color: black;
}
.table1 td, .table1 th{

    text-align: center;
}

.table1 th{
    background-color: white ;}

.button-add button{
    margin-top: 10px;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* ================== Item List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
  }
  
  .details .itemlist {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .details .tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .tableHeader h2 {
    font-weight: 600;
    color: var(--primary-color);
  }
  .tableHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--primary-color);
    text-decoration: none;
    color: var(--white-color);
    border-radius: 6px;
  }
  .tableHeader .btn:hover {
    background: var(--dark-prim-color);
  }
  .details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .details table thead td {
    font-weight: 600;
  }
  .details .itemlist table tr {
    color: var(--dark-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .itemlist table tr:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .itemlist table tbody tr:hover {
    background: var(--primary-color);
    color: var(--white-color);
  }
  .details .itemlist table tr td {
    padding: 10px;
  }
  .details .itemlist table tr td:last-child {
    text-align: end;
  }
  .details .itemlist table tr td:nth-child(2) {
    text-align: end;
  }
  .details .itemlist table tr td:nth-child(3) {
    text-align: center;
  }

  
  /* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .item {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .tableHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
  }
  .content{
    padding:20px;
  }

  /* +++++++++++++BOOKING FORM+++++++++++++ */
.edit-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}