@import "items-1.css";


#bank-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.box-popup {
    background-color: var(--white-color);
    padding: 20px; 
    border-radius: 10px;
    width: 80%; 
    max-width: 500px; 
    min-width: 300px; 
    height: auto; 
    text-align: left;
    margin: 0 auto; 
}

.top-form{
    display: flex;
    
    justify-content: space-between;
  }
  
  .top-form .close-popup{
    cursor: pointer;
    font-size: 20px;
  }

  .btnBank{
    padding: 12px 0px;
    width: 90px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 10px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  .info{
    padding-left: 20px;
  }

  tr{
    padding: 10px 0;
  }