@import "items-1.css";

.bank-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}