@import "items-1.css";

.success {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }